<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.CategoryMapper">

    <select id="getCategory" parameterType="map" resultMap="CategoryResult">
        SELECT
        id,
        name,
        description,
        creationDate,
        status,
        modificationDate
        FROM categories
        WHERE name = #{nombre};
    </select>

    <select id="getCategories" resultMap="CategoryResult">
        SELECT
        id,
        name,
        description,
        creationDate,
        status,
        modificationDate
        FROM categories
    </select>

    <insert parameterType="map" id="InsertCategory">
        INSERT INTO categories (name, description, creationDate, status, modificationDate)
        VALUES(
          #{category.name},
          #{category.description},
          #{category.creationDate},
          #{category.status},
          #{category.modificationDate});
    </insert>

    <update parameterType="map" id="ActualizarCategory">
        UPDATE categories 
        SET 
        name=#{name},
        description=#{description},
        status=#{status},
        modificationdate=CURRENT_DATE
        WHERE id=#{id};
    </update>

    <resultMap type='Category' id='CategoryResult'>
        <id property='id' column='c_cid'/>
        <result property='name' column='c_name'/>
        <result property="description" column="c_description"/>
        <result property="creationDate" column="c_creationDate"/>
        <result property="status" column="c_status"/>
        <result property="modificationDate" column="c_modificationDate"/>
    </resultMap>
          	
</mapper>